@model IEnumerable<WebMotors.TransferObject.Entities.Anuncio>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.modelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.versao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ano)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.quilometragem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.observacao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.marca)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.modelo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.versao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ano)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.quilometragem)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.observacao)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>
